@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 1.5rem;
    --success: 120 49% 92%;
    --success-foreground: 116 36% 31%;
    --warning: 50 56% 92%;
    --warning-foreground: 46 53% 48%;
    --danger: 3 45% 91%;
    --danger-foreground: 4 52% 26%;
    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 88%;
    --card: 240 10% 9%;
    --card-foreground: 0 0% 88%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 88%;
    --primary: 0 0% 88%;
    --primary-foreground: 240 10% 9%;
    --secondary: 240 3% 56%;
    --secondary-foreground: 0 0% 88%;
    --muted: 240 2% 28%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 209 100% 61%;
    --accent-foreground: 0 0% 88%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 88%;
    --glass: 0 0% 9%;
    --glass-foreground: 0 0% 100%;
    --border: 240 3.7% 14%;
    --input: 240 3.7% 10%;
    --ring: 240 4.9% 83.9%;
    --radius: 1.5rem;
    --success: 162 96% 32%;
    --success-foreground: 116 36% 31%;
    --warning: 30 79% 61%;
    --warning-foreground: 46 53% 48%;
    --danger: 347 75% 61%;
    --danger-foreground: 4 52% 26%;
    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overlay {
  border-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 0) 50%
    )
    fill 1;
}

.visuallyHidden {
  height: 0.0625rem;
  width: 0.0625rem;
  overflow: hidden;
  position: absolute;
  clip: rect(0.0625rem 0.0625rem 0.0625rem 0.0625rem);
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  clip-path: inset(50%);
  white-space: nowrap;
}

.missionCard:hover::before {
  opacity: 1;
}

.missionCard::before {
  content: '';
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  background: radial-gradient(
    25rem at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.125) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: opacity 500ms;
  pointer-events: none;
}

.last-grid-item-odd:nth-last-child(1):nth-child(odd) {
  grid-column: span 2;
}
